/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper{
  width: 100%;
  height: 100vh;
  background-color: rgba(208, 5, 19, 0.641);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 60%;
  height: 60%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  position: relative;
  width: 80%;
  height: 100%;
}

.slider .item{
  display:none;
}

/*IMG*/

.slider .items-wrapper{
  width: 100%;
  height: 100%;

}
.slider img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider .btn-chevron{
background-color:#CCCCCC;
border-style: none;
width: 20px;
height: 20px;
line-height: 20px;
border-radius: 50%;
text-align: center;
position: absolute;
right:50%;
transform:translateX(-50%);
cursor: pointer;
}

.btn-chevron.prev{
  top:10px;
} 

.btn-chevron.next{
  bottom:10px;
} 

/*HOVER*/
.btn-chevron.prev:hover{
  color:#CCCCCC ;
  background-color:black;
}

.btn-chevron.next:hover{
  color:#CCCCCC ;
  background-color:black;
}